/*Fonts*/
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdu.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3iu4nwlxdu.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*Apply to all*/
body  {
  font-family: 'Source Sans Pro';
}

/*Navigation*/
#navigation {
  display: flex;
  width: auto;
  height: 64px;
  justify-content: space-between;
  padding-right: 24px;
  padding-left: 24px;
  background-color: #b1040e;
}

#iconnav  {
  display: none;
}

@media screen and (max-width: 480px) {
    #navigation {
      background-color: white;
      width: 100%;
    }

    #logo img,
    #logo p,
    nav p {
      display: none;
    }

    #iconnav  {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }

    #iconnav p  {
      display: flex;
    }
}

#logo {
  display: flex;
  align-items: center;
}

#logotext {
  font-size: 32px;
  text-transform: uppercase;
}

#academy  {
  color: white;
}

nav {
  display: flex;
  align-items: center;
}

nav p {
  margin-right: 16px;
  color: white;
}

@media screen and (max-width: 480px) {

}

#nomargin {
  margin-right: 0;
}

/*First Banner*/
#firstbanner  {
  display: flex;
  background-color: #F9F6EF;
}


#firstbannerright {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1  {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 20px;
}

#text {
  font-weight: 500;
  font-size: 1.5rem;
}

#button {
  padding: 8px 0;
  background-color: #b1040e;
  color: white;
  width: 67%;
  text-align: center;
  font-weight: normal;
  font-size: 1.25rem;
  margin-top: 20px;
}

@media screen and (max-width: 480px) {
  #firstbanner  {
    flex-wrap: wrap;
  }

  #button {
    width: 92%;
    margin-top: 24px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
  }


}

/*Second Banner*/
.secondbanner {
  display: flex;
  vertical-align: baseline;
}

.leftsecondbanner {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  width: 60%;
}

.leftsecondbanner img {
  width: 100%;
  margin-top: 32px;
  margin-bottom: 32px;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

.quote  {
  margin-top: 24px;
  font-style: italic;
}

.position {
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 0.9rem;
}

.rightsecondbanner  {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 24px;
  border-left: 1px solid #F9F6EF;
  align-items: flex-start;
  padding-top: 16px;
}

#padding  {
  padding-top: 16px;
}

.news {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #F9F6EF;
}

.rightnews  {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news img {
  width: 35%;
  height: 35%;
  margin: 16px;
}

h3  {
  font-weight: bold;
  font-size: 1.5rem;
}

.rightnewstext  {
  margin-top: 8px;
  margin-bottom: 8px;
}

.readmore {
  color: blue;
}

.guest  {
  background-color: #F9F6EF;
  margin-bottom: 32px;
}

.mobile {
  display: none;
}


@media screen and (max-width: 480px) {
  .leftsecondbanner {
    width: 100%;
    margin-left: 0;
}
  .rightsecondbanner {
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 32px;
    border: none;
  }

  .leftsecondbanner img {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  h1  {
    margin-bottom: 32px;
  }

  #secondbannermain {
    display: none;
  }

  .news {
    border-bottom:  none;
    flex-direction: column;
    width: 100%;
  }

  .news img {
   max-width: 100%;
   height: auto;
   display: block;
   max-height: 100%;
   width: auto;

  }

  .mobile {
    display: flex;
  }

  .news .desktop  {
    display: none;
  }

  .rightnews  {
    margin-left: 32px;
    margin-bottom: 64px;
  }

  .guest  {
    background-color: white;
  }

  #differentspacing {
    margin-bottom: 0;
    padding-bottom: 32px;
    border-bottom: 1px solid #F9F6EF;
  }
}

/*Third Banner*/
#thirdbanner  {
  background-color: #2F2424;
  padding: 32px 72px;
  display: flex;
  flex-direction: column;
}

.specialheader {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 32px;
}

#whiteheader  {
  color: white;
}

.learningrow  {
  display: flex;

}

.learning {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.learning img {
  height: auto;
  width: 100%;
  vertical-align: baseline;
}

.textcontainer  {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 16px 16px 24px 16px;

}

.textcontainer h3 {
  margin-bottom: 16px;
}

.courses  {
  margin-top: 8px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.space  {
  margin-left: 32px;
  margin-right: 32px;
}

.description  {
  padding-bottom: 1rem;
}

#nopadding  {
  padding-bottom: 0;
}

#marginbottom {
  margin-bottom: 32px;
}

.textcontainer h3 {
  color: #b1040e;
}

/*Forth Banner*/
#forthbanner  {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #F9F6EF;
}

.banners  {
  display: flex;
  flex-direction: row;
}

.leftsecondbanner video {
  width: 100%;
  margin-top: 32px;
  margin-bottom: 32px;
}

.noborder {
  border-bottom: none;
  border-left: none;
}

#normalmargin {
  margin-bottom: 0;
}

.nospace  {
  margin-top: 16px;
}

/*Copyright*/
#copy {
  padding: 16px 0px 50px 24px;
  display: flex;
  justify-content: space-between;
  background-color: #b1040e;
  color: white;
}

#footermenu {
  display: flex;
}

#footermenu p {
  padding-right: 24px;
}
